.hamburger-button {
   font-size: 1.5rem;
   position: absolute;
   padding: 1rem;
   margin: 0.5rem;
   right: 0;
   cursor: pointer;
   z-index: 5;
  //  @media only screen and (max-width: 1000px) {
  //   visibility: visible;
  // }
}