@import "../../App.scss";

.projects-page {
  padding: 2rem;
  text-align: center;
  height: 100%;
  @media screen and (max-width: 38em) {
    padding: 2rem 0.5rem;
    text-align: center;
  }
}

.projects-title {
  font-size: 2.8rem;
  font-weight: 600;
  color: var(--font-color);
  @media screen and (max-width: 31em) {
    font-size: 1.8rem;
  }
}

.projects-underline {
  width: 4rem;
  height: 0.1rem;
  background: var(--primary-color);
  margin: 0.5rem auto 1.6rem auto;
}

.projects-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  max-height: 80%;
  padding: 1.5rem;
  @media screen and (max-width: 50em) {
    padding: 0;
  }
}
