#root {
  $primary-color: #fd4133f3;
  $background-color: #e4e4e4;
  $font-color: white;
  $text-input-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Helvetica, sans-serif;
}

body {
  background-color: var(--background-color);
  padding: 1.5rem;
  @media only screen and (max-width: 1025px) {
    padding: 0.4rem;
  }
}

.app-frame {
  max-width: 1300px;
  min-height: 825px;
  height: 95vh;
  margin: 0 auto;
  display: flex;

  @media only screen and (max-width: 1025px) {
    height: 98vh;
  }
}

.pages {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.colored-image-container {
  position: absolute;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    left: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    z-index: -2;
  }
  .orangeBackground {
    opacity: 1;
  }
  .blueBackground {
    opacity: 1;
  }
  .yellowBackground {
    opacity: 1;
  }
}

.background-image-container {
  position: absolute;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    z-index: -2;
  }
  .whiteBackground {
    opacity: 1;
    border-radius: 17px;
  }
  .darkBackground {
    opacity: 1;
  }
}
