#root {
  $primary-color: "";
  $background-color: "";
  $font-color: "";
  $text-input-color: "";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Helvetica, sans-serif;
}

body {
  background-color: var(--background-color);
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;

  @media only screen and (max-width: 64em) {
    padding: 0.4rem;
  }
}

.app-frame {
  width: 80rem;
  height: 65rem;
  min-height: 65rem;
  display: flex;

  @media only screen and (max-width: 64em) {
    height: 98vh;
  }
}

.pages {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 0.95rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
